<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>

<h1>web de items</h1>
<ul>
    <li><a href="/items">get all items</a><br></li>
    <li><a href="/items/insert">insert items</a></li>
</ul>

</body>
</html>
