<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
<h1> INSERT ITEM</h1>
<form action="/items" method="POST">


    <label for="id_nom">Nom</label>
    <input id="id_nom" type="text" name="nom" >


    <input type="submit" value="insert">
</form>
</body>
</html>